<form name="courseForm" ng-submit="onSubmit()">
  <md-content layout-padding>
    <md-card class="p3">
      <h1>Curso</h1>

      <md-input-container class="container-title">
        <label>Título</label>
        <input ng-model="course.title" required>
      </md-input-container>

      <md-input-container class="container-description">
        <label>Descrição</label>
        <textarea ng-model="course.description" rows="5"></textarea>
      </md-input-container>

      <md-input-container class="container-workload" class="md-icon-float">
        <label>Carga Horária</label>
        <md-icon>hourglass_empty</md-icon>
        <input ng-model="course.workload" type="number" required>
      </md-input-container>

      <md-input-container class="container-value" class="md-icon-float">
        <label>Valor</label>
        <md-icon>attach_money</md-icon>
        <input ng-model="course.value" type="number" required min='0'>
      </md-input-container>      

      <md-input-container class="container-cover">
        <label>Logo URL</label>
        <input ng-model="course.cover">
      </md-input-container>
      
      <div>
        <md-button class="md-raised" md-colors="{background: 'green'}" aria-label="Novo" type="submit">
          Salvar
        </md-button>
      </div>
    </md-card>
  </md-content>
</form>

<style>
  [name=courseForm] .container-title, 
  [name=courseForm] .container-description,
  [name=courseForm] .container-cover {
    max-width: 500px;
  }

  [name=courseForm] .container-workload, [name=courseForm] .container-value {
    max-width: 200px;
  }
</style>