<form name="userForm" ng-submit="onSubmit()">
  <md-content layout-padding>
    <md-card class="p3">
      <md-input-container class="md-block">
        <label>Nome</label>
        <input ng-model="user.name" required>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Telefone</label>
        <input ng-model="user.phone" required>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Email</label>
        <input ng-model="user.email" type="email" required>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Endereço</label>
        <input ng-model="user.address">
      </md-input-container>

      <md-input-container class="md-block">
        <label>Data de admissão</label>
        <input ng-model="user.admission_date">
      </md-input-container>

      <md-input-container class="md-block">
        <label>Avatar URL</label>
        <input ng-model="user.avatar">
      </md-input-container>


      <md-input-container class="md-block">
        <label>Login</label>
        <input ng-model="user.username" required>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Senha</label>
        <input ng-model="user.password" required type="password">
      </md-input-container>

      
      <md-button class="md-raised" md-colors="{background: 'green'}" aria-label="Novo" type="submit">
        <!-- <md-icon>plus</md-icon> -->
        Salvar
      </md-button>
    </md-card>
  </md-content>
</form>